In [2]:
import pandas as pd

bb = pd.read_csv('./balanced_bank.csv')
pb = pd.read_csv('./processed_bank.csv')

In [4]:
bb

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,34579,35,admin.,single,university.degree,no,yes,no,cellular,may,...,1,999,1,failure,-1.8,92.893,-46.2,1.266,5099.1,no
1,446,42,technician,married,professional.course,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,yes
2,20173,36,admin.,married,university.degree,no,no,no,cellular,aug,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,yes
3,18171,37,admin.,married,high.school,no,yes,yes,telephone,jul,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,yes
4,30128,31,management,single,university.degree,no,yes,no,cellular,apr,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9275,28870,45,blue-collar,married,unknown,no,yes,no,cellular,apr,...,1,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1,yes
9276,30452,60,admin.,married,university.degree,no,yes,no,cellular,may,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,yes
9277,28937,38,blue-collar,married,basic.9y,no,yes,no,cellular,apr,...,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,no
9278,16739,41,technician,single,university.degree,no,no,no,cellular,jul,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
9279,16807,56,services,married,high.school,unknown,yes,no,telephone,jul,...,11,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no

In [5]:
pb

,Unnamed: 0,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,contacted_before
0,34579,-0.687110,-2.555677e-13,0.976408,-0.758550,-0.928102,-1.122929,-0.900202,-0.418322,0,...,0,0,0,1,0,0,1,0,0,0
1,446,-0.687110,-2.555677e-13,-0.452557,0.924213,0.806766,0.705671,0.998971,0.637509,1,...,0,0,0,0,1,0,0,1,0,0
2,20173,-0.135520,-2.555677e-13,-0.452557,1.098292,-0.059880,0.761649,1.056089,1.063747,1,...,0,0,1,0,0,0,0,1,0,0
3,18171,-0.135520,-2.555677e-13,-0.452557,1.098292,0.687012,-0.469858,1.055031,1.063747,1,...,0,0,0,0,0,1,0,1,0,0
4,30128,-0.687110,-2.555677e-13,-0.452557,-0.758550,-0.641321,-1.290862,-0.847844,-0.418322,0,...,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9275,28870,-0.687110,-2.555677e-13,0.976408,-0.758550,-0.641321,-1.290862,-0.824045,-0.418322,1,...,0,0,0,1,0,0,1,0,0,0
9276,30452,-0.135520,-2.555677e-13,-0.452557,-0.758550,-0.928102,-1.122929,-0.853662,-0.418322,1,...,0,0,1,0,0,0,0,1,0,0
9277,28937,-0.687110,-2.555677e-13,0.976408,-0.758550,-0.641321,-1.290862,-0.826689,-0.418322,0,...,0,1,0,0,0,0,1,0,0,0
9278,16739,-0.135520,-2.555677e-13,-0.452557,1.098292,0.687012,-0.469858,1.054502,1.063747,0,...,0,0,0,1,0,0,0,1,0,0
9279,16807,4.277198,-2.555677e-13,-0.452557,1.098292,0.687012,-0.469858,1.054502,1.063747,0,...,0,0,0,1,0,0,0,1,0,0